body {
    font-family: Verdana, Helvetica, sans-serif;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-color: #DDD;
}
th, td {
    padding: 5px;
}
th {
   background-color: #EEE;
}
td {
   background-color: #FFF;
}
